<div class="index-container">
  <img src="images/beer.png" alt="beer image">
  <a class="main-button" href="/beers">Check the Beers!</a>
  <a class="main-button" href="/random-beers">Check a Random Beer!</a>
  
</div>